@import "./main.scss";

.about_1 {
  text-shadow: 0px 0px 20px #000000;
  > * {
    z-index: 2;
  }
  .container_photos {
    z-index: 1;
    
    .container-sm {
      left: 50%;
      top: 50%;

      &_1, &_5 {
        aspect-ratio: 3/2;
        width: 326px;
        left: 50%;
        top: 50%;
      }  
      &_2, &_3 {
        aspect-ratio: 2/3;
        width: 240px;
      }
      &_1 {
        translate: -55% -175%;
      }
      &_2 {
        translate: -165% -35%;
      }
      &_3 {
        translate: 70% -75%;
      }
      &_4 {
        aspect-ratio: 1/1;
        width: 264px;
        translate: -50% -50%;
      }
      &_5 {
        translate: -40% 75%;
      }
    }
    img {
      position: relative;
    }
  }
}
// Acryllic effect soon to be implemented on the photos, but it is currently disabled due to a tight schedule
// background: rgba(255, 255, 255, 0.2);
// border-radius: 16px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(2.4px);
// -webkit-backdrop-filter: blur(2.4px);
// border: 1px solid rgba(255, 255, 255, 0.3);

@include media-breakpoint-down(sm) {
  .about_1 {
    .container_photos {
      .container-sm {
        display: block !important;
        position: absolute !important;
        width: 100% !important;
        left: 50% !important;
        top: 50% !important;
        aspect-ratio: auto !important;
        gap: 8px !important;

        &_2, &_3 {
          display: none !important;
        }

        &_1 {
        translate: -50% -195% !important;
        }
        &_4 {
        translate: -50% -50% !important;
        }
        &_5 {
          translate: -50% 95% !important;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .about_1 {
    .container_photos {
      .container-sm {
        &_1, &_5 {
        }
        &_2, &_3 {
        }
        &_1 {
        }
        &_2 {
        }
        &_3 {
        }
        &_4 {
        }
        &_5 {
        } 
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .about_1 {
    .container-sm {
      left: 50%;
      top: 50%;

      &_1, &_5 {
        aspect-ratio: 3/2;
        width: 326px;
        left: 50%;
        top: 50%;
      }  
      &_2, &_3 {
        aspect-ratio: 2/3;
        width: 240px;
      }
      &_1 {
        translate: -55% -175%;
      }
      &_2 {
        translate: -165% -35%;
      }
      &_3 {
        translate: 70% -75%;
      }
      &_4 {
        aspect-ratio: 1/1;
        width: 264px;
        translate: -50% -50%;
      }
      &_5 {
        translate: -40% 75%;
      }
    }
  }
}