.cell {
  text-decoration: none !important;
  cursor: pointer !important;

  &__inner {
    margin: 0 auto !important;
    width: clamp(230px, 100%, 1600px) !important;
  }
  &__title-bar {
    position: absolute !important;
    left: 0.5rem !important;
    top: 0 !important;
    height: 100% !important;
    width: 3px !important;
    background-color: rgb(163, 162, 162) !important;
  }
  &__image-container {
    margin: 0 auto !important;
    width: clamp(230px, 100%, 1600px) !important;
  } 
}